<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.passmall.mapper.MemberMapper">

	<insert id="join" parameterType="com.passmall.domain.MemberVO">
		
		INSERT INTO mbsp_tbl(
			mbsp_id, 
			mbsp_password, 
			mbsp_name, 
			mbsp_email, 
			mbsp_addr, 
			mbsp_phone, 
			mbsp_receive
			)
		VALUES(
			#{mbsp_id},
			#{mbsp_password},
			#{mbsp_name},
			#{mbsp_email},
			#{mbsp_addr},
			#{mbsp_phone},
			#{mbsp_receive}
		)
		
	</insert>
	
	<select id="checkID" resultType="string">
	
		SELECT 
			mbsp_id 
		FROM 
			mbsp_tbl
		WHERE 
			mbsp_id = #{mbsp_id}
	
	</select>
	
	<select id="login" resultType="com.passmall.domain.MemberVO">
	
		SELECT
			mbsp_id, mbsp_password, mbsp_name, mbsp_email, mbsp_addr,  mbsp_phone, mbsp_receive, mbsp_point, mbsp_datesub, mbsp_updatedate, mbsp_lastlogin
		FROM
			mbsp_tbl
		WHERE 
			mbsp_id = #{mbsp_id}
	
	</select>
	
	<select id="searchPwByEmail" resultType="string">
	
		SELECT 
			mbsp_email 
		FROM 
			mbsp_tbl
		WHERE 
			mbsp_email = #{mbsp_email}
	
	</select>
	
	<select id="searchIdByEmail" resultType="string">
	
		SELECT 
			mbsp_id 
		FROM 
			mbsp_tbl
		WHERE 
			mbsp_email = #{mbsp_email}
	
	</select>
	
	<update id="changePw">
	
		UPDATE
			mbsp_tbl
		SET 
			mbsp_password = #{mbsp_password}
		WHERE
			mbsp_email = #{mbsp_email}
	
	</update>
	
	<select id="currentPwConfirm" resultType="string">
	
		SELECT 
			mbsp_password 
		FROM 
			mbsp_tbl
		WHERE 
			mbsp_id = #{mbsp_id} 
	
	</select>
	
	<update id="changeNewPw">
	
		UPDATE
			mbsp_tbl
		SET 
			mbsp_password = #{change_mbsp_password}
		WHERE
			mbsp_id = #{mbsp_id}
	
	</update>
	
	<update id="modify">
	
		UPDATE
			mbsp_tbl
		SET
			mbsp_email = #{mbsp_email}, 
			mbsp_addr = #{mbsp_addr}, 
			mbsp_phone = #{mbsp_phone}, 
			mbsp_receive = #{mbsp_receive},
			mbsp_updatedate = sysdate
			
		WHERE
			mbsp_id = #{mbsp_id}
	
	</update>
	
	<delete id="regDelete">
	
		DELETE FROM
			mbsp_tbl
		WHERE
			mbsp_id = #{mbsp_id}
	
	
	</delete>

</mapper>  